* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --text-color: #084236;
}
body {
  background-color: var(--body-bg-color);
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
main {
  padding: 18px 20px;
}
main h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
}
header {
  background-color: var(--green);
  width: 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width .4s ease-in-out 200ms;
}
header.show nav {
  width: 250px;
}
header.show {
  width: 250px;
  transition: width .4s ease-in-out 200ms;
}
ul li a,
header.show ul li:first-child,
.login.show,
.user.show{
  display: flex;
  align-items: center;
}
.logo.show {
  padding: 10px 15px;
}
ul {
  list-style: none;
  padding: 13px 0;
}
header.show ul li:first-child {
  justify-content: space-between;
}
ul li,
ul li:active,
ul li:hover {
  height: 50px;
  margin-bottom: 8px;
  width: 100%;
  padding: 0 14px;
} 
ul li a {
  padding: 13px;
  border-radius: 12px;
  gap: 13px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;
}
ul li:first-child a,
ul li:last-child a {
  border-radius: 0;
}
a.icon-search,
ul li a:hover {
  background-color: var(--light-grey);
}
a.icon-search {
  opacity: 1;
  position: static;
}
a.icon-search:hover {
  background-color: #c4c4c4;
}
a.icon-search.hide {
  opacity: 0;
  position: absolute;
  transition: all 0.4s ease-in-out 200ms;
}
a:focus,
input.search:focus {
  outline-offset: -1px;
  outline: 2px solid var(--text-color);  
}
input.search {
  border-radius: 12px;
  border: none;
  background: var(--light-green);
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  background-position: 14px center;
  padding: 14px 14px 14px 50px;
  width: 222px;
}
input.search,
input.search::placeholder {
  color: var(--text-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;
}
.item-text,
.logo,
.user,
input.search {
  opacity: 0;
  position: absolute;
  left: -999rem;
}
.item-text.show,
.logo.show,
.user.show,
input.search.show {
  opacity: 1;
  position: static;
  left: 0;
  transition: all 0.4s ease-in-out 500ms;
}
.login {
  height: 60px;
  padding: 18px 27px;
  background-color: var(--light-green);
}
.login.show {
  justify-content: space-between;
  gap: 33px; 
  padding: 7px 14px;
}
.login a{  
  height: 24px;
}
.user.show {
  gap: 9px;
}
.user.show img {
  width: 45px;
  height: 45px;
  border-radius: 12px;
}
.user.show .user-info {
  height: 36px;
}
.user.show .user-info .user-name,
.user.show .user-info .user-job {
  font-weight: 400;
  text-transform: capitalize;
}
.user.show .user-info .user-name {
  font-size: 15px;
  line-height: 22.5px;
}
.user.show .user-info .user-job {
  font-size: 12px;
  line-height: 18px;
} 